<p>I’m a front-end developer and designer based in Fort Worth, TX with a passion for web technologies, inclusivity, and
Texas BBQ. I currently help make the space that comes from The Container Store.</p>