<footer class="c-footer">
  <div class="c-footer__inner">
    <p class="c-footer__copyright">©
      {{ currentYear }}
      Ryan Boone.</p>
    <p>
      <a href="https://twitter.com/therealboone">Twitter</a>
      •
      <a href="https://github.com/falldowngoboone">GitHub</a>
      •
      <a href="https://www.linkedin.com/in/ryan-boone-320bbb30/">
        LinkedIn
      </a>
      •
      <a href="https://codepen.io/falldowngoboone">CodePen</a>
    </p>
  </div>
</footer>