<header class="c-header">
  <a class="o-visible-on-focus c-skip-link" href="#main">
    Skip to main content
  </a>
  <a href="/">
    <span class="o-visually-hidden">Home</span>
    <picture>
      <source media="(min-width: 640px)" srcset="/images/logo.svg"/>
      <img class="c-header__branding" src="/images/logo-sm.svg" alt=""/></picture>
  </a>
</header>