<aside class="c-post__aside">
  <p>
    <strong>Hi there!</strong>
    I couldn’t help but notice you made it all the way to the end of this post. Did you like it? If so, please take a second to
    <a target="_blank" rel="noopener noreferrer" href="https://twitter.com/intent/tweet?text={{- encodedPostTitle -}}&url={{- encodedPostUrl -}}&via=therealboone">tweet this article</a>
    or
    <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/shareArticle?url={{- encodedPostUrl -}}&title={{- encodedPostTitle -}}">share on LinkedIn</a>
    so others can discover it. Or
    <a arget="_blank" rel="noopener noreferrer" href="https://mobile.twitter.com/search?q={{- encodedPostUrl -}}">add to the discussion on Twitter</a>.
  </p>
</aside>