<div class="message--info">
  <p>
    This is a message. Use this when you need to communicate with your audience. Possible levels may include:
  </p>
  <ol>
    <li>
      <code>emerg</code>
      - System is unusable (may not be needed)</li>
    <li>
      <code>alert</code>
      - Action must be taken immediately (e.g. urgent messages)</li>
    <li>
      <code>crit</code>
      - Critical conditions (serious server errors that prevent actions; possibly a serivce is down?)</li>
    <li>
      <code>err</code>
      - Error conditions (client errors like invalid data)</li>
    <li>
      <code>warning</code>
      - Warning conditions (planned events that may affect service, e.g. scheduled maintenance)</li>
    <li>
      <code>notice</code>
      - Normal but significant conditions (require user action)</li>
    <li>
      <code>info</code>
      - Informational messages (like this one)</li>
    <li>
      <code>debug</code>
      - Debug-level messages</li>
  </ol>
</div>