@use "sass:selector";

@mixin with-parent($children...) {
  @each $child in $children {
    @at-root #{selector.unify(&, $child)} {
      @content;
    }
  }
}

@mixin unstyle-list {
  list-style: none;
  padding: 0;
}

:root {
  --red: #c5004a;
  --darkred: #7f0036;
  --lightgray: #e0e0e0;
  --gray: #c0c0c0;
  --darkgray: #333;
  --navy: #17050f;
  --blue: #082840;
  --white: #fff;

  --light-mint: #eff4f1;

  --base-size: 16;
}

html {
  box-sizing: border-box;
  font-size: calc(var(--base-size) * 1px);
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  color: var(--darkgray);
  background-color: var(--light-mint);
  line-height: 1.5;
}

h1 {
  font-size: clamp(1rem, 6.2vw, 4rem);
  line-height: 1.1;
  font-weight: 900;
  font-family: 'BwDarius-Black';
  letter-spacing: -2%;
}

p:last-child {
  margin-bottom: 0;
}
p {
  max-width: 65ch;
}
a[href] {
  color: var(--blue);
}
a[href]:visited {
  color: var(--navy);
}
main {
  padding: 1rem;
  margin: auto;
  max-width: 1040px;
}
table {
  margin: 1em 0;
}
table td,
table th {
  padding-right: 1em;
}

/* Header */
.page-header {
  border-bottom: 1px dashed var(--lightgray);
  display: flex;
  align-items: center;
}
.page-header__link--home {
  padding: 0 1rem;
  margin: 1rem 0;
  line-height: 1;
}

/* Nav */
.nav {
  @include unstyle-list;
  margin-left: 1em;
}
.nav-item {
  display: inline-block;
  margin-right: 1em;

  & a[href]:not(:hover) {
    text-decoration: none;
  }

  &--active {
    font-weight: 700;
    text-decoration: underline;
  }
}

/* Posts list */
.postlist {
  @include unstyle-list;
}
.postlist-item {
  counter-increment: start-from -1;
  display: flex;
  align-items: baseline;
}
.postlist-item::before {
  pointer-events: none;
  content: '' counter(start-from, decimal-leading-zero) '. ';
  margin-right: 0.25rem;
}
.postlist-date,
.postlist-item::before {
  font-size: calc(13 / var(--base-size) * 1em); /* 13px /16 */
  color: var(--darkgray);
}
.postlist-date {
  word-spacing: -0.5px;
}
.postlist-item-active .postlist-link {
  font-weight: bold;
}
.tmpl-home .postlist-link {
  font-size: 1.1875em; /* 19px /16 */
  font-weight: 700;
}

/* Tags */
.post-tag {
  display: inline-block;
  vertical-align: text-top;
  text-transform: uppercase;
  font-size: 0.625em; /* 10px /16 */
  padding: 2px 4px;
  margin-left: 0.8em; /* 8px /10 */
  background-color: var(--red);
  color: var(--white);
  border-radius: 0.25em; /* 3px /12 */
  text-decoration: none;

  @at-root %tag-link {
    color: #fff;
  }

  @include with-parent('a[href]', 'a[href]:visited') {
    @extend %tag-link;
  }
}

/* Warning */
.message {
  padding: 1em 0.625em; /* 16px 10px /16 */

  > * {
    margin: 0;
  }

  > * + * {
    margin-top: 1em;
  }
}
.message--info {
  @extend .message;
  background-color: #ccf8ff;
}
.message--warning {
  @extend .message;
  background-color: #ffc;
}

/* Direct Links / Markdown Headers */
.direct-link {
  font-family: sans-serif;
  text-decoration: none;
  font-style: normal;
  margin-left: 0.1em;

  @at-root %hidden-direct-link {
    color: transparent;
  }

  @include with-parent('a[href]', 'a[href]:visited') {
    @extend %hidden-direct-link;
  }

  @at-root %visible-direct-link {
    color: #aaa;
  }

  @include with-parent('a[href]:focus', 'a[href]:focus:visited') {
    @extend %visible-direct-link;
  }

  :hover > & {
    @include with-parent('a[href]', 'a[href]:visited') {
      @extend %visible-direct-link;
    }
  }
}
