<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{ title | default(site.title) }}{{ " " }}|{{ " " }}{{ site.branding }}</title>
    <meta name="description" content="{{ description | default(site.description) }}"/> {% include "analytics.njk" %} <link rel="stylesheet" href="/css/global.css"/>
    {{ headContent | safe }}
  </head>
  <body class="l-page">
    {% include "c-header.njk" %}
    <main class="o-stack{% if containerClass %} {{ containerClass }}{% endif %}" id="main">
      {{ content | safe }}
    </main>
    {% include "c-footer.njk" %}
    {{ scriptContent | safe }}
  </body>
</html>