---
layout: default
containerClass: c-post
eleventyComputed:
  postUrl: "{{ site.url }}{{ page.url | url }}"
  headContent: |
    <link rel="canonical" href="{{ postUrl }}" />
    {{ headContent }}
  scriptContent: |
    {{ scriptContent }}
---

{% set time %}{% readingTime content %}{% endset %}
{% set encodedPostUrl %}{{- postUrl | encodeUriComponent -}}{% endset %}
{% set encodedPostTitle %}{{- title | encodeUriComponent -}}{% endset %}

{% include "c-post-header.njk" %}
{% if featuredImage %}
  <img src="{{ featuredImage.src }}" alt="{{ featureImage.alt }}">
{% endif %}
<div class="o-stack l-container l-content">
  {{ content | safe }}
  {% include "c-post-cta.njk" %}
  {% include "c-post-footer.njk" %}
</div>