---
layout: layouts/home.liquid
permalink: /blog/
eleventyNavigation:
  key: Archive
  order: 2
---

<h1 class="page__title">Archive</h1>

{% assign postslist = collections.posts %}
{% include postslist %}
