---
layout: default
title: Blog
---

<h1>My Blog Archive</h1>
{% for tag in collections.tagList %} {% capture tagUrl %}/tags/{{ tag }}/{%
endcapture %}
<a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
{% endfor %} {% assign postslist = collections.post %} {% include postslist %}
