---
layout: page
title: Blog
displayTitle: My Blog Archive
---

<p>
  I like to write about{% for tag in collections.tagList %} {% if
  forloop.last%}and {% endif %}{% tagLink tag %}{%- if forloop.last -%}.{%- else
  -%}, {%- endif -%}{% endfor %}
</p>
{% set postslist = collections.post %}
{% set postslistCounter = collections.post | length %}
{% include "postslist.njk" %}