---
layout: page
title: Blog
displayTitle: My Blog Archive
pagination:
  data: collections.post
  size: 10
  alias: posts
  reverse: true
---

<p>
  I like to write about{% for tag in collections.tagList %} {% if
  forloop.last%}and {% endif %}{% tagLink tag %}{%- if forloop.last -%}.{%- else
  -%}, {%- endif -%}{% endfor %}
</p>
{% set postslist = posts %}
{% set postslistCounter = posts | length %}
{% include "postslist.njk" %}
<div>{% if pagination.href.previous %}<a href="{{ pagination.href.previous }}">Newer posts</a>{% endif %}{% if pagination.href.previous and pagination.href.next %} • {% endif %}{% if pagination.href.next %}<a href="{{ pagination.href.next }}">Older posts</a>{% endif %}</div>