---
layout: page
title: Contact
displayTitle: Contact Me
---

<div>
  <div>
    <p>
      So you wanna talk, eh? Send me all your development and design questions
      to one of the channels below (I'm most active on Twitter). I especially
      love talking to new developers or people thinking about development as a
      second career. That's my jam. For speaking engagements on accessiblity,
      JavaScript or CSS, email me via this handy dandy mail form I made just for
      you.
    </p>
  </div>
  <form action="/">
    <h2>Email me</h2>
    <div>
      <label for="name">Your Name</label>
      <input id="name" name="c-name" />
    </div>
    <div>
      <label for="email">Your Email</label>
      <input id="email" name="c-email" type="email" />
    </div>
    <div>
      <label for="message">Your Message</label>
      <textarea id="message" name="c-message"></textarea>
    </div>
    <button>Submit</button>
  </form>
</div>
