---
layout: page
title: Contact
displayTitle: Contact Me
---

<form action="/">
  <div>
    <label for="name">Full Name</label>
    <input id="name" name="c-name" />
  </div>
  <div>
    <label for="email">Email</label>
    <input id="email" name="c-email" type="email" />
  </div>
  <div>
    <label for="message">Email</label>
    <textarea id="message" name="c-message"></textarea>
  </div>
  <button>Submit</button>
</form>
