---
layout: layouts/home.liquid
eleventyNavigation:
  key: Home
  order: 1
---

<h1 class="page__title">Latest 3 Posts</h1>
{% assign postslist = collections.posts | head: -3 %}
{% assign postslistCounter = collections.posts | size %}
{% include postslist %}

<p>
  More posts can be found in
  <a href="{{ '/blog/' | url }}">the archive</a>.
</p>
