---
layout: page
title: Home
displayTitle: Full-stack front end development
---

<p>
  Hi, I’m Ryan Boone. I’m a web developer and designer from Texas with a
  passion for open, accessible front end development. I love exploring new
  ideas and sharing the
  <a href="/blog">lessons I’ve learned along the way</a> with others. If you
  want to work with me, book me for a speaking engagement, or just want to
  talk shop, <a href="/contact">drop me a line</a>!
</p>
{% if collections.post %}
<div class="o-stack">
  <h2>My Latest Posts</h2>
  {% assign postslist = collections.post %} {% assign
  postslistCounter = collections.post | size %} {% include postslist %}
</div>
{% endif %}