---
layout: default
---

<div class="c-hero">
  {% title %}Full-stack front end development{% endtitle %}
  <p>
    Hi, I’m Ryan Boone. I’m a web developer and designer from Texas with a
    passion for open, accessible front end development. I love exploring new
    ideas and sharing the
    <a href="/blog">lessons I’ve learned along the way</a> with others. If you
    want to work with me, book me for a speaking engagement, or just want to
    talk shop, <a href="/contact">drop me a line</a>!
  </p>
</div>
{% if testimonials %}
<div>
  <h2>What Others Have Said About Me</h2>
</div>
{% endif %} {% if collections.post %}
<div>
  <h2>My Latest Posts</h2>
  {% assign postslist = collections.post | head: -3 %} {% assign
  postslistCounter = collections.post | size %} {% include postslist %}
</div>
{% endif %} {% if til %}
<div>
  <h2><abbr title="Today I learned">TIL</abbr></h2>
</div>
{% endif %} {% assign book = bookshelf | currentlyReading %} {% if book %}
<div>
  <h2>Currently Reading</h2>
  <p>{{ book.title }}</p>
  <img src="{{book.img}}" alt="" />
</div>
{% endif book %}
