---
layout: default.liquid
---

<div>
  <h1><span class="u-visually-hidden">falldowngoboone</span></h1>
  <p class="c-hero__lede">Full-stack front end development</p>
  <p>
    Hi, I’m Ryan Boone. I’m a web developer and designer from Texas with a
    passion for open, accessible front end development. I love exploring new
    ideas and sharing the
    <a href="/blog">lessons I’ve learned along the way</a> with others. If you
    want to work with me, book me for a speaking engagement, or just want to
    talk shop, <a href="/contact">drop me a line</a>!
  </p>
</div>
<div>
  <h2>What Others Have Said About Me</h2>
</div>
<div>
  <h2>My Latest Posts</h2>
</div>
<div>
  <h2><abbr title="Today I learned">TIL</abbr></h2>
</div>
<div>
  <h2>Currently Reading</h2>
</div>
