---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: layouts/home.liquid
renderData:
  title: Posts tagged “{{ tag }}”
permalink: /tags/{{ tag }}/
---

<h1>{{ renderData.title }}</h1>

{% assign postslist = collections[tag] %} {% include postslist %}

<p>See <a href="{{ '/tags/' | url }}">all tags</a>.</p>
