---
permalink: /tags/
layout: layouts/home.liquid
---

<h1>Tags</h1>

{% for tag in collections.tagList %}
  {% capture tagUrl %}
    /tags/{{ tag }}/
  {% endcapture %}
  <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
{% endfor %}
