@use 'settings' as *;
@use 'tools' as t;

.c-post {
}

.c-post__header {
  padding-bottom: 5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  width: calc(100% + 2rem);
  margin-left: -1rem;
  margin-right: -1rem;

  background: center bottom 1rem / 50ch no-repeat url('/images/divider.png');

  & > * + * {
    margin-top: 0.75rem;
  }

  @include t.md-up {
    text-align: center;
    padding-bottom: 6rem;

    & > * + * {
      margin-top: 1rem;
    }
  }

  @include t.lg-up {
    padding-bottom: 6.5rem;
  }
}

.c-post__lede {
  font-size: 18px;
  line-height: 1.5rem;

  @include t.md-up {
    font-size: 22px;
  }
}

.c-post__meta {
  list-style-type: none;
  display: flex;
  font-size: 15 / 17 * 1rem;
  line-height: 1.5rem;

  & > li + li {
    margin-left: 1.5em;
    position: relative;

    &::before {
      content: '';
      border-left-style: solid;
      border-left-width: 1px;
      position: absolute;
      left: -0.75em;
      top: 0.25em;
      height: 1em;
      transform: skew(-15deg) translateX(-50%);
    }
  }

  @include t.md-up {
    justify-content: center;
  }
}

.c-post__aside {
  background-color: var(--color-bg-secondary);
  border-radius: 0.25rem;

  position: relative;
  padding: 1.5rem 1rem;
  width: calc(100% + 2rem);
  margin-left: -1rem;

  @include t.md-up {
    border-radius: 5px;
    width: 100%;
    margin-left: auto;
    padding: 1.5rem 1.5rem 1.5rem 3rem;
  }
}

.c-post__cta-hand {
  position: absolute;
  color: var(--color-icon-callout);
  left: -2rem;
  top: -1rem;
  display: none;

  @include t.md-up {
    display: block;
  }
}
