@use 'settings' as *;
@use 'tools' as t;

.c-footer {
  --link-color: var(--color-secondary);

  color: var(--color-secondary);
  padding: 1rem 0;

  @include t.md-up {
    padding: 2rem 0;
  }

  @include t.lg-up {
    padding: 3rem 0;
  }
}

.c-footer__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.c-footer__copyright {
  margin-right: 1em;
}
