@use 'settings' as *;

.c-tag {
  color: $color-black;
  text-decoration: none;
  display: inline-block;
  border: 2px solid;
  border-radius: 999px;
  padding: 0 0.5em;

  &:hover,
  &:focus {
    color: $color-purple;
  }
}
