@use 'settings' as *;

.c-skip-link {
  display: block;
  padding: $s-2;
  background-color: $color-purple;
  color: $color-white;
  border-radius: 0.25rem;
}

.c-tag-link {
  color: $color-black;
  text-decoration: none;
  display: inline-block;
  border: 2px solid;
  border-radius: 999px;
  padding: 0 0.5em;

  &:hover,
  &:focus {
    color: $color-purple;
  }
}
