@use 'tools' as t;

.c-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 1rem 0;

  @include t.md-up {
    padding: 2rem 0;
  }

  @include t.lg-up {
    padding: 3rem 0;
  }
}

.c-header__branding {
  height: 3rem;
}
