@use 'settings' as *;
@use 'tools' as fn;

.c-page {
  display: grid;
  grid-template-areas:
    '. header .'
    '. main .'
    'footer footer footer';
  grid-template-columns: 1fr minmax(0, 1400px) 1fr;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  padding: 0 clamp($s-1, 2.4vw, $s-4);

  & > header {
    grid-area: header;
  }

  & > main {
    grid-area: main;
  }

  & > footer {
    grid-area: footer;
  }
}

.c-page-bar {
  @media screen and (min-width: 660px) {
    $bar-width: min(1vw, 0.5rem);

    margin-left: $bar-width;

    &::before {
      content: '';
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      width: $bar-width;
      background: $gradient-fun no-repeat;
    }
  }
}

.c-page-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: clamp(
      $s-2,
      calc(16px + (64 - 16) * (100vw - 660px) / (1680 - 660)),
      $s-5
    )
    0;
}

.c-page-header__brand {
  margin-right: auto;
  padding-right: 1rem;
}

.c-page-footer {
  $py: clamp($s-1, 2.4vw, $s-4);
  --color-link: $color-gray-dark;

  color: $color-gray-dark;
  font-weight: 700;
  background-color: $color-gray;
  margin: (2 * $s-6) fn.neg($py) 0;
  padding: clamp(
      $s-2,
      calc(16px + (40 - 16) * (100vw - 660px) / (1680 - 660)),
      $s-4
    )
    $py;

  & > * {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
  }
}

.c-page-nav {
  --link-padding: 0.5em;
  --color-link: #{$color-black};

  display: flex;
  margin: 0 fn.neg(var(--link-padding));

  & a {
    font-weight: 700;
    text-transform: lowercase;
    text-decoration: none;
    padding: var(--link-padding);
  }
}

.c-skip-link {
  display: block;
  padding: $s-2;
  background-color: $color-purple;
  color: $color-white;
  border-radius: 0.25rem;
}

.c-hero {
  $px: clamp($s-1, 2.4vw, $s-4);

  background-color: $color-gray;
  padding: clamp($s-3, 3.81vw, $s-5) $px;
  margin-left: fn.neg($px);
  margin-right: fn.neg($px);

  @media screen and (min-width: 660px) {
    margin-left: 0;
    margin-right: 0;
  }
}

.c-post {
  display: grid;
  gap: 1.5rem;
}
