@use 'settings' as *;

:root {
  --text-color: #{$color-black};
  --link-color: #{$color-purple};

  --title-color: #{$color-purple};

  --code-bg: #e6f5fb;
  --code-color: #007d42;
  --code-border: #aeeccf;
}
