@use 'settings' as *;
@use 'tools' as t;

.o-cluster {
  --space: 0.5em;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: t.neg(calc(var(--space) / 2));

  & > *:not(.o-cluster) {
    margin: calc(var(--space) / 2);
  }

  & > .o-cluster {
    margin-left: 0;
    margin-right: 0;
  }
}

.o-stack {
  --space: 1.5rem;

  & > * {
    margin-top: 0;
    margin-bottom: 0;
  }

  & > * + * {
    margin-top: var(--space);
  }
}

.o-visually-hidden,
.o-visible-on-focus {
  position: absolute;
}

.o-visually-hidden,
.o-visible-on-focus:not(:focus) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  width: 1px;
}

.l-page {
  --page-row-gap: 1em;
  --page-col-gap: 1em;

  display: grid;
  grid-template-columns: 1fr minmax(0, 1034px) 1fr;
  row-gap: var(--page-row-gap);
  column-gap: var(--page-col-gap);

  & > * {
    grid-column: 2 / 3;
  }

  @include t.md-up {
    --page-row-gap: 2em;
    --page-col-gap: 1.5em;

    row-gap: 2em;
    column-gap: 1.5em;
  }
}

.l-content {
  max-width: 60ch;
  margin-left: auto;
  margin-right: auto;

  & > * + * {
    margin-top: 1.5rem;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    position: relative; // used for positioning anchor links
    padding-right: 1.4rem;
  }

  h2 {
    margin-top: 3rem;
    scroll-margin-top: 3rem;
  }

  h3 {
    margin-top: 1.5rem;
    scroll-margin-top: 1.5rem;
  }

  h2 + *,
  h3 + * {
    margin-top: 0.75rem;
  }
}
