@use 'settings' as *;
@use 'tools' as fn;

@keyframes o-background-slide {
  0% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 100% 100%;
  }
  50% {
    background-position: 0% 100%;
  }
  75% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.o-cluster {
  --space: 0.5em;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: fn.neg(calc(var(--space) / 2));

  & > *:not(.o-cluster) {
    margin: calc(var(--space) / 2);
  }

  & > .o-cluster {
    margin-left: 0;
    margin-right: 0;
  }
}

.o-stack {
  --space: 1.5em;

  & > * {
    margin-top: 0;
    margin-bottom: 0;
  }

  & > * + * {
    margin-top: var(--space);
  }
}

.o-visually-hidden,
.o-visible-on-focus {
  position: absolute;
}

.o-visually-hidden,
.o-visible-on-focus:not(:focus) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  width: 1px;
}

.o-page {
  display: grid;
  grid-template-areas:
    '. header .'
    '. main .'
    'footer footer footer';
  grid-template-columns: 1fr minmax(0, 1400px) 1fr;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  padding: 0 clamp($s-1, 2.4vw, $s-4);

  & > header {
    grid-area: header;
  }

  & > main {
    grid-area: main;
  }

  & > footer {
    grid-area: footer;
  }
}
