$s-half: 0.25rem; // 4 / 4.5
$s-1: 0.5rem; // 8 / 9
$s-2: 1rem; // 16 / 18
$s-3: 1.5rem; // 24 / 27
$s-4: 2.5rem; // 40 / 45
$s-5: 4rem; // 64 / 72
$s-6: 6.5rem; // 104 / 117

$gradient-fun: linear-gradient(
  180deg,
  #00ff84 0%,
  #0be2ff 54.69%,
  #ce0bff 100%
);

$color-purple: #7e06dd;
$color-white: #fff;
$color-black: #011b2b;
$color-gray-200: #f5f6f6;
$color-gray-500: #aeb6bb;
$color-gray-700: #52646e;

$font-system: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
  Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$font-body: $font-system;
$font-display: 'Rotunda', $font-system;
$font-mono: 'Fira Code', Consolas, Menlo, Monaco, 'Andale Mono WT',
  'Andale Mono', 'Lucida Console', 'Lucida Sans Typewriter', 'DejaVu Sans Mono',
  'Bitstream Vera Sans Mono', 'Liberation Mono', 'Nimbus Mono L', 'Courier New',
  Courier, monospace;
