@use 'sass:math';

$base-font-size: 18;
$base-line-height: 1.5;
$scale: 1.25;
$scale-md-up: math.sqrt(2);

$s-half: 0.25rem;
$s-1: 0.5rem;
$s-2: 1rem;
$s-3: 1.5rem;
$s-4: 2.5rem;
$s-5: 4rem;
$s-6: 6.5rem;

$color-purple: #6f00ff;
$color-fuchsia: #df0036;
$color-white: #fff;
$color-black: #282520;
$color-gray-200: #f4f4f4;
$color-gray-500: #d4d3d2;
$color-gray-700: #73716e;

$font-system: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
  Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$font-body: 'Rotunda', $font-system;
$font-display: 'Recoleta', Georgia, Times, 'Times New Roman', serif;
$font-mono: 'Fira Code', Consolas, Menlo, Monaco, 'Andale Mono WT',
  'Andale Mono', 'Lucida Console', 'Lucida Sans Typewriter', 'DejaVu Sans Mono',
  'Bitstream Vera Sans Mono', 'Liberation Mono', 'Nimbus Mono L', 'Courier New',
  Courier, monospace;
