@use 'variables' as vars;
@use 'fonts';

:root {
  --color-text: #{vars.$color-black};
  --color-link: #{vars.$color-purple};

  --grid-base: 0.25rem; // 4px
  --space-1: calc(var(--grid-base) * 2); // 8px
  --space-2: calc(var(--space-1) * 2); // 16px
  --space-3: calc(var(--space-1) + var(--space-2)); // 24px
  --space-4: calc(var(--space-2) + var(--space-3)); // 40px
  --space-5: calc(var(--space-3) + var(--space-4)); // 64px
  --space-6: calc(var(--space-4) + var(--space-5)); // 104px
}

* {
  margin: 0;
}

html {
  box-sizing: border-box;
  font-size: 100%;
  text-rendering: optimizeLegibility;
  font-family: vars.$font-sans;
  color: var(--color-text);
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: var(--color-link);

  &:hover {
    color: var(--color-link);

    background: linear-gradient(-40deg, rgba(#ce0bff, 0), #ce0bff 120%),
      linear-gradient(#00ff84, #0be2ff);
    background-size: 400% 400%;
    animation: o-background-slide 5s ease infinite;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    text-decoration: none;
  }
}

@keyframes o-background-slide {
  0% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 100% 100%;
  }
  50% {
    background-position: 0% 100%;
  }
  75% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.c-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: clamp(var(--space-1), 2.4vw, var(--space-4));
}

.c-page-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  & > *:first-child {
    margin-right: auto;
    padding-right: 1rem;
  }
}

.c-page-main {
  flex: 1;
}

.c-page-nav {
  --link-padding: 0.5em;
  --color-link: #{vars.$color-black};

  display: flex;
  margin: 0 calc(var(--link-padding) * -1);

  & a {
    font-weight: 700;
    text-transform: lowercase;
    text-decoration: none;
    padding: var(--link-padding);
  }
}

.c-skip-link {
  display: block;
  padding: var(--space-2);
  background-color: vars.$color-purple;
  color: vars.$color-white;
  border-radius: 0.25rem;
  margin: 1rem;
}

.c-hero {
  background-color: vars.$color-gray;
  padding: clamp(var(--space-2), 3.81vw, var(--space-5))
    clamp(var(--space-1), 2.4vw, var(--space-4));
  margin-left: calc(clamp(var(--space-1), 2.4vw, var(--space-4)) * -1);
  margin-right: calc(clamp(var(--space-1), 2.4vw, var(--space-4)) * -1);

  & > * + * {
    margin-top: 1.5em;
  }
}

.c-hero__lede {
  font-size: clamp(2rem, 5vw, 4.5rem);
  font-weight: 900;
  font-family: vars.$font-display;
  color: vars.$color-purple;
  line-height: 1.125;
}

.u-visually-hidden,
.u-visible-on-focus {
  position: absolute;
}

.u-visually-hidden,
.u-visible-on-focus:not(:focus) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  width: 1px;
}

@media screen and (min-width: 660px) {
  .c-page-bar {
    --bar-width: min(1vw, 0.5rem);

    margin-left: var(--bar-width, 0);

    &::before {
      content: '';
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      width: var(--bar-width, 0);
      background: vars.$gradient-fun no-repeat;
    }
  }

  .c-hero {
    margin-left: 0;
    margin-right: 0;
  }
  // add fun bar
  // padding around images/hero
  // go from abbreviated to full logo
}
