@use 'variables' as *;
@use 'fonts';

@function neg($val) {
  @return calc(#{$val} * -1);
}

:root {
  --color-text: #{$color-black};
  --color-link: #{$color-purple};
}

* {
  margin: 0;
}

html {
  box-sizing: border-box;
  font-size: 100%;
  text-rendering: optimizeLegibility;
  font-family: $font-sans;
  color: var(--color-text);
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  line-height: 1.5;

  @media screen and (min-width: 1200px) {
    font-size: 112.5%;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: var(--color-link);

  &:hover {
    color: var(--color-link);

    background: linear-gradient(-40deg, rgba(#ce0bff, 0), #ce0bff 120%),
      linear-gradient(#00ff84, #0be2ff);
    background-size: 400% 400%;
    animation: o-background-slide 5s ease infinite;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    text-decoration: none;
  }
}

h1 {
  font-size: clamp(2rem, 5vw, 4rem);
  font-weight: 900;
  font-family: $font-display;
  color: $color-purple;
  line-height: 1.125;
}

@keyframes o-background-slide {
  0% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 100% 100%;
  }
  50% {
    background-position: 0% 100%;
  }
  75% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.o-cluster {
  --space: 0.5em;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: neg(calc(var(--space) / 2));

  & > *:not(.o-cluster) {
    margin: calc(var(--space) / 2);
  }
}

.o-stack {
  --space: 1.5em;

  & > * {
    margin-top: 0;
    margin-bottom: 0;
  }

  & > * + * {
    margin-top: var(--space);
  }
}

.c-page {
  display: grid;
  grid-template-areas:
    '. header .'
    '. main .'
    'footer footer footer';
  grid-template-columns: 1fr minmax(0, 1400px) 1fr;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  padding: 0 clamp($s-1, 2.4vw, $s-4);

  & > header {
    grid-area: header;
  }

  & > main {
    grid-area: main;
  }

  & > footer {
    grid-area: footer;
  }
}

.c-page-bar {
  @media screen and (min-width: 660px) {
    $bar-width: min(1vw, 0.5rem);

    margin-left: $bar-width;

    &::before {
      content: '';
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      width: $bar-width;
      background: $gradient-fun no-repeat;
    }
  }
}

.c-page-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: clamp(
      $s-2,
      calc(16px + (64 - 16) * (100vw - 660px) / (1680 - 660)),
      $s-5
    )
    0;
}

.c-page-header__brand {
  margin-right: auto;
  padding-right: 1rem;
}

.c-page-footer {
  $py: clamp($s-1, 2.4vw, $s-4);
  --color-link: $color-gray-dark;

  color: $color-gray-dark;
  font-weight: 700;
  background-color: $color-gray;
  margin: (2 * $s-6) neg($py) 0;
  padding: clamp(
      $s-2,
      calc(16px + (40 - 16) * (100vw - 660px) / (1680 - 660)),
      $s-4
    )
    $py;

  & > * {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
  }
}

.c-page-nav {
  --link-padding: 0.5em;
  --color-link: #{$color-black};

  display: flex;
  margin: 0 neg(var(--link-padding));

  & a {
    font-weight: 700;
    text-transform: lowercase;
    text-decoration: none;
    padding: var(--link-padding);
  }
}

.c-skip-link {
  display: block;
  padding: $s-2;
  background-color: $color-purple;
  color: $color-white;
  border-radius: 0.25rem;
}

.c-hero {
  $px: clamp($s-1, 2.4vw, $s-4);

  background-color: $color-gray;
  padding: clamp($s-3, 3.81vw, $s-5) $px;
  margin-left: neg($px);
  margin-right: neg($px);

  & > * + * {
    margin-top: 1.5em;
  }

  @media screen and (min-width: 660px) {
    margin-left: 0;
    margin-right: 0;
  }
}

.u-visually-hidden,
.u-visible-on-focus {
  position: absolute;
}

.u-visually-hidden,
.u-visible-on-focus:not(:focus) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  width: 1px;
}

.u-list-unstyled {
  list-style: none;
  padding: 0;
}
