@use 'settings';
@use 'generic.fonts' as fonts;
@use 'generic.root' as root;
@use 'generic.reset' as reset;
@use 'elements';
@use 'objects';
@use 'components.header' as c-header;
@use 'components.nav' as c-nav;
@use 'components.footer' as c-footer;
@use 'components.links' as c-links;
@use 'components.hero' as c-hero;
@use 'components.page' as c-page;
@use 'components.post' as c-post;
@use 'vendor.prism-fdgb' as prism with (
  $font-code: settings.$font-mono
);
@use 'utilities';
